.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 333;
  width: 100%;
  max-width: calc(100% - 26.5rem);
  background: var(--white);
  height: 6.5rem;

  display: flex;
  align-items: center;

  padding: 2rem 4rem;

  border-bottom: 1px solid var(--gray-100);

  p {
    margin-left: 2rem;
    padding: 0.25rem 2rem 0.25rem;
    border-left: 1px solid var(--gray-100);
  }

  span {
    margin-left: auto;
    text-transform: capitalize;
  }

  @media only screen and (max-width: 1024px) {
    max-width: unset;
  }
}